* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: 'REM', sans-serif;
}

body {
    background: rgb(41, 44, 51);
    color: white;
    overflow: hidden;
    overflow-y: scroll;
}