.navbar {
    background: rgb(15, 15, 15);
    height: 10vw;
    width: 100vw;
    max-width: 100vw;
    margin: 0 auto;
    padding: 1vw 2vw;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    position: sticky;
    top: 0;
    z-index: 3;
    font-weight: 100;
    font-size: 1.7vw;
    border-bottom: 4px solid rgba(0, 53, 185);
}

.logo {
    object-fit: cover;
    height: 9vw;
    width: 16vw;
}

.desktopMenu {
    margin-left: 3vw;
    flex-direction: row;
}

.desktopMenuListItem {
    margin: 1vw;
    padding: 1vw;
    cursor: pointer;
}

.desktopMenuListItem:hover {
    color: rgb(185, 87, 0);
    padding-bottom: 0.5vw;
    border-bottom: 3px solid rgb(185, 87, 0);
}

.desktopMenuBtn {
    background: rgb(186, 0, 0);
    color: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.7vw 2.1vw;
    border-radius: 2vw;
    font-weight: 100;
    font-size: 1.1vw;
    margin-left: auto;
}

.donateDropdown {
    position: absolute;
    right: 1vw; 
    top: 6.5vw;
    background-color: rgb(15, 15, 15);
    border: 0.2vw solid rgba(0, 53, 185);
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.donateDropdown a {
    font-size: 1.2vw;
    padding: 1vw;
    display: block;
    color: rgb(255, 255, 255);
    text-align: left;
    text-decoration: none;
}

.donateDropdown a:hover {
    background-color: rgb(185, 87, 0);
}

.desktopMenuBtn:hover {
    background: rgb(185,87,0);
}

.active {
    color: rgb(185, 87, 0);
    padding-bottom: 0.5vw;
    border-bottom: 3px solid rgb(185, 87, 0);
}

.mobMenu {
    display: none;
    object-fit: cover;
    height: 1.8vw;
}

.navMenu {
    position: absolute;
    top: 4vw;
    right: 2vw;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 0.5vw;
    height:fit-content;
    min-width: 15vw;
    background: rgb(40, 40, 40);
    border-radius: 1vw;
}

.listItem {
    color: white;
    padding: 0.5vw 3vw;
    margin: 0.25vw;
    background: rgb(30, 30, 30);
}

.mobileDonateLink {
    color: white;
    padding: 0.5vw 3vw;
    margin: 0.25vw;
    background: rgb(30, 30, 30);
}

@media screen and (max-width:720px) {
    .mobMenu {
        display: flex;
    }
    .desktopMenu {
        display: none;
    }
    .desktopMenuBtn {
        display: none;
    }
}