#works {
    margin: 0 auto;
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-align: center;
    padding: 0 1rem;
}

hr {
    width: 100%;
    margin-top: 5vw;
    margin-bottom: 1.3vw;
    border-color: rgb(69,71,77);
    border-width: 1px;
    border-style: solid;
}

.testimonialsImg {
    object-fit: cover;
    height: 21rem;
    width: 15rem;
    margin-left: 0.4rem;
}

.testimonialsText {
    flex-direction: column;
    padding: 1rem 3rem;
    text-align: left;
}

.skillBar p {
    font-size: 1.15vw;
    font-weight: 100;
}

.worksTitle {
    margin: 1rem 0;
    font-size: 3.6vw;
    font-weight: 200;
}

.worksDesc {
    font-weight: 300;
    font-size: 1rem;
    max-width: 45rem;
}

.worksImgs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    max-width: 65rem;
}

.worksImg {
    object-fit: cover;
    height: 20rem;
    margin: 0.5rem;
}

.workBtn {
    margin: 3rem 0;
    padding: 0.5rem 2.5rem;
    border: none;
    border-radius: 2rem;
    background: white;
    font-size: 1rem;
}

@media screen and (max-width:585px) {
    .worksImg {
        height: 48vw;
    }
}