#works {
    margin: 0 auto;
    min-height: calc(100vh - 4vw);
    width: 100vw;
    max-width: 65vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-align: center;
    padding: 0 1vw;
}

hr {
    width: 100%;
    margin-top: 5vw;
    margin-bottom: 1.3vw;
    border-color: rgb(69,71,77);
    border-width: 1px;
    border-style: solid;
}

.testimonialsImg {
    object-fit: cover;
    height: 21vw;
    width: 15vw;
    margin-left: 0.4vw;
}

.testimonialsText {
    flex-direction: column;
    padding: 1vw 3vw;
    text-align: left;
}

.skillBar p {
    font-size: 1.15vw;
    font-weight: 100;
}

.worksTitle {
    margin: 1vw 0;
    font-size: 3.6vw;
    font-weight: 200;
}

.worksDesc {
    font-weight: 300;
    font-size: 1vw;
    max-width: 45vw;
}

.worksImgs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    max-width: 65vw;
}

.worksImg {
    object-fit: cover;
    height: 20vw;
    margin: 0.5vw;
}

.workBtn {
    margin: 3vw 0;
    padding: 0.5vw 2.5vw;
    border: none;
    border-radius: 2vw;
    background: white;
    font-size: 1vw;
}

@media screen and (max-width:585px) {
    .worksImg {
        height: 48vw;
    }
}