#intro {
    /* height: calc(100vh - 4rem); */
    height: auto;
    min-height: calc(100vh - 4vw);
    margin-bottom: 2vw;
    width: 100vw;
    margin: 0 auto;
    position: relative;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.textColumn, .instagramColumn {
    flex: 0 0 20%;
    display: flex;
    margin-right: 2%;
    margin-left: 2%;
    flex-direction: column;
    justify-content: start;
    max-height: calc(100vh - 15.5vw);
    margin-bottom: 2vw;
}

.textColumn {
    height: 75%
}

.textTitle {
    display: flex;
    position: relative;
    height: 12%;
    background-color: rgb(34, 48, 84);
    font-weight: 100;
    font-size: 2vw;
    justify-content: center;
    align-items: center;
    padding: 0.5vw 1vw;

}

.textSection {
    display: flex;
    height: 88%;
    background-color: rgb(119, 125, 140);
    font-weight: 100;
    font-size: 1.4vw;
    font-style: italic;
    padding: 2vw 3vw;
    text-align: center;
    align-items: center;
}

.centerVideo {
    display: flex;
    justify-content: center; 
    align-items: center;     
    position: relative;
    width: 50%;
    padding-bottom: 28.125%;  /* Aspect ratio: 100% * 9 / 16 = 56.25% for a 16:9 video */
    overflow: hidden;
}

.centerVideo iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.instagramColumn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;    
    height: 75%;
    margin-left: 2%;
}

.hello {
    font-size: 1.75rem;
    font-weight: 100;
}

.introName {
    color: yellow;
}

.introPara {
    font-size: medium;
    font-weight: 100;
    letter-spacing: 1px;
}

.btn {
    background: white;
    margin: 1vw 0;
    padding: 0.75vw 1.5vw;
    border: none;
    border-radius: 2vw;
}

.btnImg {
    object-fit: cover;
    margin: 0 0.25vw;
    height: 1vw;
}

@media screen and (max-width:840px) {
    #intro {
        flex-direction: column;
    }
    .textColumn, .instagramColumn {
        flex: 1;
        max-width: 70%;
        margin: 10px 0; 
        min-height: auto; 
        height: auto; 
    }
}

@media screen and (max-width:480px) {
    #intro {
        flex-direction: column;
    }
}